
body{
    height:100vh;
    display:flex;
    flex-direction: column;
    flex: 1;
    margin:0;
}
.one{
    font-family: roboto,sans-serif;
    background-color: #1F2937;
    justify-content: space-around;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
.header{
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    font-size: 18px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding: 64px;
    flex-direction: row;
    gap: 20px;
}
.container img{
    height: auto;
    border-radius: 6px;
    width: 120px;
    height: 70px;
}

button{
    background-color: #3882F6;
    border-radius: 8px;
}

.container2 {
  display: flex;
  gap: 20px;          
  justify-content: center; 
}

.container2 img {
    height: auto;
    border-radius: 6px;
    width: 70px;
    height: 70px;
    border: 3px solid aqua;
}

.three{
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    padding: 128px;
}




